.cuadrito{

    background-color:#030552;
    position: absolute;
    top: 30%;
    left: 34%;
    padding: 50px 90px;
    color: #B7B8D3;
    text-align: center;
    
    
}

.cuadrito a{

    color: grey;
    text-decoration: none;
}

h2{
    color: #B7B9ED;
}

p{
    margin: 24px;
}

label{

    padding: 8px;
}

body{
    background-color: #9092DF;
}
