.cuadrito{

    background-color:#030552;
    position: absolute;
    left: 30%;
    padding: 24px 70px;
    color: black;
    text-align: center;   
    
}

.cuadrito h2{

    color:#B7B8D3
}

.p{
 margin: 18px;

}
p a{

    color: grey;
    text-decoration: none;

}



h2{
    color: grey;
}

table{

    background-color: white;
    padding: 8px;
    font-style:initial;
    
}

table th{

    background-color:rgb(4, 3, 51);
    color: white;
}

table td{

    padding: 8px;
}

body{
    background-color: #9092DF;
}


